.login{
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
        rgba(255,255,255,0.5),
        rgba(255,255,255,0.5)
        ), 
        url("../../images/headerimage.jpeg");
    background-size: cover;
}

.loginTitle{
    font-size: 50px;
    background-color: transparent;
}

.loginForm{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    background-color: transparent;
}

.loginForm > label{
    margin: 10px 0;
    background-color: transparent;
}

.loginInput{
    padding: 10px;
    background-color: #F4F4F9;
    border: none;
    border-radius: 5px;
}

.loginButton{
    margin-top: 20px;
    cursor: pointer;
    background-color: #C36C32;
    border: none;
    color: white;
    border-radius: 5px;
    padding: 10px;
}

.loginButton:disabled{
    cursor: not-allowed;
    background-color: #be8a67;
}

.loginRegisterButton{
    position: absolute;
    top: 60px;
    right: 20px; 
    background-color: #7F636E;
    color: white;
    cursor: pointer;
    border: none;
    padding: 10px;
    border-radius: 5px;
}