.singlePost{
    flex: 9;
}

.singlePostWrapper{
    padding: 20px;
    padding-right: 0;
    display: flex;
    flex-direction: column;
}

.singlePostImg{
    width: 100%;
    height: 300px;
    border-radius: 5px;
    object-fit: cover;
}

.singlePostTitle{
    text-align: center;
    margin: 10px;
    font-family: 'Playfair Display', serif;
    font-size: 8rem;
    text-transform: uppercase;
    font-weight: 500;

    @media screen and (max-width:  1600){
        font-size: 10rem;
    }
}

.singlePostTitleInput{
    margin: 10px;
    font-family: 'Playfair Display', serif;
    font-size: 8rem;
    text-align: center;
    border: none;
    border-bottom: 1px solid #7F636E;
    color: #7F636E
}

.singlePostTitleInput:focus{
    outline: none;
}

.singlePostEdit{
    float: right;
    font-size: 16px;
}

.singlePostIcon{
    margin-left: 10px;
    cursor: pointer;
}

.singlePostIcon:first-child{
    color: #C36C32;
}

.singlePostIcon:last-child{
    color: #7F636E;
}

.singlePostInfo{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    color: #C36C32;
    font-family: 'Source Sans Pro', sans-serif;
}

.singlePostDesc{
    font-size: 14px;
    line-height: 25px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
}

.singlePostDesc::first-letter{
    margin-left: 20px;
    font-size: 40px;
    font-weight: 500;
}

.singlePostDescInput{
    border: none;
    font-size: 14px;
    line-height: 25px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    border-bottom: 1px solid #7F636E;
    color: #7F636E
}

.singlePostDescInput:focus{
    outline: none;
}

.singlePostButton{
    border: none;
    background-color: #7F636E;
    padding: 5px;
    color: white;
    width: 100px;
    cursor: pointer;
    align-self: flex-end;
    margin-top: 20px;
}