.header{
    margin-top: 60px;
}

.headerTitles{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Playfair Display', serif;
    color: #F4F4F9;
    font-weight: 300;
    border-bottom: 2px solid #F4F4F9; 
    border-top: 2px solid #F4F4F9; 
}

.headerTitleSm{
    position: absolute;
    top: 60%;
    right: 20%;
    font-size: 2rem;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: transparent;
    
}

@media screen and (max-width:  1050px){
    .headerTitleSm{
        top: 33%;
        right: 10%;
    }
}

@media screen and (max-width:  415px){
    .headerTitleSm{
        top: 45%;
    }
}

@media screen and (max-width:  375px){
    .headerTitleSm{
        top: 43%;
    }
}

.headerTitleLg{
    position: absolute;
    top: 33%;
    font-size: 10rem;
    font-weight: 300;
    background-color: transparent;
}

@media screen and (max-width: 1050px) {
    .headerTitleLg{
        font-size: 8rem;
        top: 18%;
    }
}
@media screen and (max-width:  415px) {
    .headerTitleLg{
        font-size: 5rem;
        top: 33%;
    }
}
@media screen and (max-width:  375px) {
    .headerTitleLg{
        font-size: 4rem;
        top: 33%;
    }
}


.headerImg{
    width: 100%;
    height: 500px;
    margin-top: 45px;
    object-fit: cover;
}

/*
.videoWrapper{
    width: 100%;
    height: 550px;
    z-index: 0;
    display: block;

}

.videoWrapper:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
        180deg, 
        rgba(0,0,0,0.2) 0%,
        rgba(0,0,0,0.6) 100%),
    linear-gradient(180deg, rgba(0,0,0,0.2) 0%, transparent 100%);
    z-index: 2;

}*/


